<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

     <servlet>
        <servlet-name>DesignLogicServlet</servlet-name>
        <servlet-class>DesignLogicServlet</servlet-class>
    </servlet>

     <servlet-mapping>
        <servlet-name>DesignLogicServlet</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveDesignServlet</servlet-name>
        <servlet-class>SaveDesignServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveDesignServlet</servlet-name>
        <url-pattern>/Save</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HistoryFetcherServlet</servlet-name>
        <servlet-class>HistoryFetcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HistoryFetcherServlet</servlet-name>
        <url-pattern>/viewHistory</url-pattern>
    </servlet-mapping>    

    <servlet>
        <servlet-name>DeleteDesignServlet</servlet-name>
        <servlet-class>DeleteDesignServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteDesignServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>    


</web-app>
